$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';



div {
  border: 1px solid #000;
}

.dropdown-menu {
  width: 200px;
}

.container {
  float: left;
  width: 50%;
  margin: auto 10%;
}

.game-board {
  position: relative;
  color: #fff;
  margin-top: 50px;
  font-family: "Lucida Console";
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  font-size: 12vw;
  text-align: center;
  display: inline-block;
  float: left;
}

.middle {
  position: relative;
  float: left;
  display: inline-block;
  bottom: 50%;
  right: 5%;
}


@media (max-width: 768px) {
    .game-board {
        margin-top: 200px;
    }
  }


.container>div {
  @include make-row();
  div {
    @include make-lg-column(4);
    @include make-md-column(4);
    @include make-sm-column(4);
    @include make-xs-column(4);
    border: 1px solid #000;
    height: 16.666vw;
  }
 }
​
// @media (max-width: 992px) {
//   .container {
//     width: 90%;
//     margin: auto 5%;
//     & section {
//       height: 30vw;
//     }
//   }
// }

table {
  margin-left: 40px;
  margin-top: 40px;
}

#player_x-message {
  clear: both;
}

#player_o-message {
  clear: both;
}

#tie-message {
  clear: both;
}

#game-rule {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  margin: 10px;
}

.navbar-fixed-bottom {
  height: 70px;
}

.button-on-footer{
  margin-right: 30px;
}

@media (max-width: 768px) {
  .button-on-footer{
    font-size: 14px;
    margin-right: 30px;
  }
}
