$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background-color: #E5E4E2;
}


div {
  border: 1px solid #000;
}

.container {
  float: left;
  width: 50%;
  margin: auto 10%;
}

.container>div {
  @include make-row();
  div {
    @include make-lg-column(4);
    @include make-md-column(4);
    @include make-sm-column(4);
    @include make-xs-column(4);
    border: 1px solid #000;
    height: 16.666vw;
  }
 }
​
// @media (max-width: 992px) {
//   .container {
//     width: 90%;
//     margin: auto 5%;
//     & section {
//       height: 30vw;
//     }
//   }
// }




#player-score {
  float: right;
  margin: auto;
}

#play-game {
  float: right;
}

#Player_x-message {
  clear: both;
}

#Player_o-message {
  clear: both;
}

#tie-message {
  clear: both;
}
