$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';



div {
  border: 1px solid #000;
}

.dropdown-menu {
  width: 200px;
}

.container {
  float: left;
  width: 50%;
  margin:2%;
}

.score-board {
  float:left;
  margin: 15%;
  margin-bottom: 10px;
  display: inline-block;
}

.messages {
  margin: 12%;
  font-size: 30px;
  font-family: cursive;
  float:left;
  border: none;
}

.game-board {
  color: #fff;
  margin-top: 50px;
  font-family: "Lucida Console";
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  font-size: 12vw;
  text-align: center;
}

// .middle {
//   //position: absolute;;
//   float: left;
// //  display: inline-block;
// //  bottom: 50%;
// //  right: 5%;
//   width: 100px;
//   height: 100px;
//   top: 30%;
//   left: 80%;
// }


@media (max-width: 768px) {
    .game-board {
        margin-top: 200px;
    }
    .messages {
      margin-top: 200px;
    }
  }


.container>div {
  @include make-row();
  div {
    @include make-lg-column(4);
    @include make-md-column(4);
    @include make-sm-column(4);
    @include make-xs-column(4);
    border: 1px solid #000;
    height: 16.666vw;
  }
 }
​



.navbar-fixed-bottom {
  height: 70px;
}

.button-on-footer{
  margin-right: 30px;
}

@media (max-width: 768px) {
  .button-on-footer{
    font-size: 14px;
    margin-right: 30px;
  }
}
